@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.98 0.01 335.69);
    --foreground: oklch(0.22 0 0);
    --card: oklch(0.96 0.01 335.69);
    --card-foreground: oklch(0.14 0 0);
    --popover: oklch(0.95 0.01 316.67);
    --popover-foreground: oklch(0.40 0.04 309.35);
    --primary: oklch(0.51 0.21 286.50);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.49 0.04 300.23);
    --secondary-foreground: oklch(1.00 0 0);
    --muted: oklch(0.96 0.01 335.69);
    --muted-foreground: oklch(0.14 0 0);
    --accent: oklch(0.92 0.04 303.47);
    --accent-foreground: oklch(0.14 0 0);
    --destructive: oklch(0.57 0.23 29.21);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.83 0.02 308.26);
    --input: oklch(0.57 0.02 309.68);
    --ring: oklch(0.50 0.13 293.77);
    --radius: 1rem;

    --chart-1: oklch(0.61 0.21 279.42);
    --chart-2: oklch(0.72 0.15 157.67);
    --chart-3: oklch(0.66 0.17 324.24);
    --chart-4: oklch(0.81 0.15 127.91);
    --chart-5: oklch(0.68 0.17 258.25);
  }

  .dark {
    --background: oklch(0.15 0.01 317.69);
    --foreground: oklch(0.95 0.01 321.50);
    --card: oklch(0.22 0.02 322.13);
    --card-foreground: oklch(0.95 0.01 321.50);
    --popover: oklch(0.22 0.02 322.13);
    --popover-foreground: oklch(0.95 0.01 321.50);
    --primary: oklch(0.60 0.22 279.81);
    --primary-foreground: oklch(0.98 0.01 321.51);
    --secondary: oklch(0.45 0.03 294.79);
    --secondary-foreground: oklch(0.95 0.01 321.50);
    --muted: oklch(0.22 0.01 319.50);
    --muted-foreground: oklch(0.70 0.01 320.70);
    --accent: oklch(0.35 0.06 299.57);
    --accent-foreground: oklch(0.95 0.01 321.50);
    --destructive: oklch(0.57 0.23 29.21);
    --destructive-foreground: oklch(0.95 0.01 321.50);
    --border: oklch(0.40 0.04 309.35);
    --input: oklch(0.40 0.04 309.35);
    --ring: oklch(0.50 0.15 294.97);

    --chart-1: oklch(0.50 0.25 274.99);
    --chart-2: oklch(0.60 0.15 150.16);
    --chart-3: oklch(0.65 0.20 309.96);
    --chart-4: oklch(0.60 0.17 132.98);
    --chart-5: oklch(0.60 0.20 255.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', system-ui, sans-serif;
  }
}
